<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.springframework.org/security/tags"
      layout:decorate="~{layout/main_layout}">

<div layout:fragment="content">
  <link rel="stylesheet" th:href="@{/css/board/board.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <div id = "content-wrapper">
    <div class = "home-container">
      <nav id = "home-left-side-container">
        <div>
          <ul id = "home-sidebar-btn-container">
            <li>
              <a th:href="@{/board}" class = "home-sidebar-btn" id="home-board-btn" onclick = "toBoard()">
                <img th:src="@{/images/icons/trello.png}" class = "home-sidebar-board-btn"/>
                Boards
              </a>
            </li>
            <li>
              <a th:href="@{/template}" class = "home-sidebar-btn" id="home-template-btn">
                <img th:src="@{/images/icons/template.png}" class = "home-sidebar-template-btn"/>
                Templates
              </a>
            </li>
            <li>
              <a th:href="@{/home}" class = "home-sidebar-btn" id="home-home-btn">
                <img th:src="@{/images/icons/home.png}" class = "home-sidebar-home-btn"/>
                Home
              </a>
            </li>
          </ul>
        </div>
        <div>
          <ul id="home-workspace-container">
            <div id="home-workspace-title"> Workspaces </div>
            <li id = "home-workspace-tab">
              <a id = "home-workspace-box">
                <img src="https://trello-logos.s3.amazonaws.com/dfe01fdaa08dbff54f575d60e2dd5818/30.png" class = "ws-main-img">
                <span>Workspace Name</span>
                <img th:src="@{/images/icons/down-arrow.png}" id="header-under-arrow"/>
              </a>
              <ul id = "ws-btn-ul">
                <li class = "ws-btn-container">
                  <a href = "" class = "ws-btn-group">
                    <img th:src="@{/images/icons/trello.png}" class = "ws-btn-icon"/>
                    <span>Boards</span>
                  </a>
                </li>
                <li class = "ws-btn-container">
                  <a href = "" class = "ws-btn-group">
                    <img th:src="@{/images/icons/heart.png}" class = "ws-btn-icon"/>
                    <span>Highlights</span>
                  </a>
                </li>
                <li class = "ws-btn-container">
                  <a href = "" class = "ws-btn-group">
                    <img th:src="@{/images/icons/views.png}" class = "ws-btn-icon"/>
                    <span>Boards</span>
                  </a>
                </li>
                <li class = "ws-btn-container">
                  <a href = "" class = "ws-btn-group">
                    <img th:src="@{/images/icons/team.png}" class = "ws-btn-icon"/>
                    <span>Members</span>
                  </a>
                </li>
                <li class = "ws-btn-container">
                  <a href = "" class = "ws-btn-group">
                    <img th:src="@{/images/icons/settings.png}" class = "ws-btn-icon"/>
                    <span>Settings</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div id = "home-board-wrapper">
        <div id = "content-all-board">
<!--          즐겨찾기-->
          <div class = "board-section-box" id="starred-boards">
            <div class="board-section-header">
              <div class="board-icon-container">
                <img th:src="@{/images/icons/star.png}" class="board-section-header-icon">
                <div th:text="${principal}">
                </div>
              </div>
              <h3 class="board-section-header-name">
                Starred boards
              </h3>
            </div>
            <ul class="board-section-list" id="board-starred-ul">

              <li class="starred-board-section-list-item" th:each="starredList : ${starredList}">
                <a class="board-section-item-img" th:style="'background-image: url(' + ${starredList.getBOARD_IMG} + ');'">
                    <div class="board-detail-box">
                        <div class="board-detail-name" th:text="${starredList.getBOARD_NAME()}">

                        </div>
                        <div class="board-detail-ws">
                          <span th:text="${starredList.getWS_NAME}">

                          </span>
                          <img th:src="@{/images/icons/star-full.png}" class="board-starred-icon starred-board-icon" th:name="${starredList.getBOARD_ID}">
                        </div>
                    </div>
                </a>
                <div class="ex-margin1"></div>
              </li>
            </ul>
          </div>
<!--          최근 본 board-->
          <div class = "board-section-box">
            <div class="board-section-header">
              <div class="board-icon-container">
                <img th:src="@{/images/icons/time.png}" class="board-section-header-icon">
              </div>
              <h3 class="board-section-header-name">
                Recently viewed
              </h3>
            </div>
            <ul class="board-section-list">
              <li class="board-section-list-item">
                <a class="board-section-item-img">
                  <div class="board-detail-box">
                    <div class="board-detail-name">
                      test board
                    </div>
                    <div class="board-detail-ws">
                          <span>
                          test workspace
                          </span>
                      <img th:src="@{/images/icons/star-empty.png}" class="board-starred-icon">
                    </div>
                  </div>
                </a>
                <div class="ex-margin1"></div>
              </li>
            </ul>
          </div>
<!--          워크스페이스 -->
          <div class = "board-section-box">
            <h3 class="board-page-section-header-name">
              YOUR WORKSPACES
            </h3>
            <div th:each="WS : ${WSList}">

              <div class="board-page-section-header">
                <div class="board-icon-container">
                  <img th:src="${WS.getWS_IMG()}" class="board-page-section-header-icon">
                </div>
                <h3 class="board-section-header-name" th:text="${WS.getWS_NAME}">
                </h3>
                <div class="board-page-section-header-options">
                  <a class="board-page-section-header-options-items">
                    <img th:src="@{/images/icons/trello.png}" class="board-page-section-header-options-items-icon">
                    <span class="board-page-section-header-options-items-name">
                      Boards
                    </span>
                  </a>
                  <a class="board-page-section-header-options-items">
                    <img th:src="@{/images/icons/views.png}" class="board-page-section-header-options-items-icon">
                    <span class="board-page-section-header-options-items-name">
                      Views
                    </span>
                  </a>
                  <a class="board-page-section-header-options-items">
                    <img th:src="@{/images/icons/team.png}" class="board-page-section-header-options-items-icon">
                    <span class="board-page-section-header-options-items-name">
                      Members(5)
                    </span>
                  </a>
                  <a class="board-page-section-header-options-items">
                    <img th:src="@{/images/icons/settings.png}" class="board-page-section-header-options-items-icon">
                    <span class="board-page-section-header-options-items-name">
                      Settings
                    </span>
                  </a>
                </div>
              </div>
              <ul class="board-section-list">
                <li class="board-section-list-item" th:each="board : ${boardsList}" th:if="${WS.getWS_ID == board.getWS_ID}">
                  <a class="board-section-item-img" th:style="'background-image: url(' + ${board.getBOARD_IMG} + ');'" th:href="|/board/${board.BOARD_ID}|">
                    <div class="board-detail-box">
                      <div class="board-detail-name" th:text="${board.getBOARD_NAME}">
                      </div>
                      <div class="board-detail-ws">
                        <span th:text="${board.getWS_NAME}">
                        </span>
                        <img th:src="@{/images/icons/star-empty.png}" class="board-starred-icon" style="z-index:999" th:value="${board.getBOARD_ID}">
                      </div>
                    </div>
                  </a>
                  <div class="ex-margin1"></div>
                </li>
                <li class="board-section-list-item">
                  <div class="board-section-add">
                    <p>Create new board</p>
                    <p class="remaining">6 remaining</p>
                    <div></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/board/board.js}"></script>
</div>
</html>