<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <!--<div>
        <div>
            logo + trello
        </div>
        <div>
            받은 메일함을 확인하여 로그인하세요
            이메일 이미지
        </div>
        <div>
            <div>
                이제 Trello 계정을 어쩌구
            </div>
            <div>
                email@email.com
            </div>
            <div>
                앵커 확인 이메일 보내기
            </div>
        </div>

    </div>-->
<body>
    <form method="post" action="/mail">
        <input type="text" name="receiver" placeholder="받는 사람 입력"><br>
        <input type="text" name="title" placeholder="제목"><br>
        <textarea name= "content" cols="10" rows="10"></textarea><br>
        <input type="submit" value="전송">
    </form>
</body>
</html>