<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">

<div layout:fragment="content">
    <div id = "parent">
    <div>
        <section class = "grid_container">
            <div class = "flex_container">
                <div>
                    <h1>Trello brings all your tasks, teammates, and tools together</h1>
                    <p>Keep everything in the same place—even if your team isn’t.</p>
                    <form>
                        <input type ="email" name = "email" placeholder="Email">
                        <button>Sign up - it’s free!</button>
                    </form>
                    <a href="#video">watch video</a>
                </div>
                <div>
                    <img src="https://images.ctfassets.net/rz1oowkt5gyp/75rDABL8fyMtNLlUAtBxrg/c5e145977a86c41c47e17c69410c64f7/TrelloUICollage_4x.png?w=1140&fm=webp" width="633" height ="558" alt="">
                </div>
            </div>
        </section>

    </div>
        <div class = "grid_container">

        <div class="left_align">
            <div>
                <p>TRELLO 101</p>
                <h2>A productivity powerhouse</h2>
            </div>
            <div>
                <p>
                    Simple, flexible, and powerful. All it takes are boards, lists, and cards to get a clear
                    view of who’s doing what and what needs to get done. Learn more in our
                    <a href="#">guide for getting started.</a>
                </p>
            </div>
        </div>

        <section>
            <div>
                <div>
                    buttons
                </div>
                <div>
                    carousel
                </div>
            </div>
        </section>
    </div>
    <div class = "grid_container">
        spacing
    </div>
    <div class = "grid_container left_align">
        <p>
            TRELLO IN ACTION
        </p>
        <h2>
            Workflows for any project, big or small
        </h2>

    </div>
    <section class = "grid_container">
        <div>carousel 넘기기 버튼</div>
        <div>
            <div>

            </div>
        </div>
    </section>
    <section class = "grid_container">
        <div class="flex_container">
            <p>No need to start from scratch. Jump-start your workflow with
                a proven playbook designed for different teams. Customize it to make it yours.</p>
            <div>
                <a href="#">Explore all Use Cases</a>
            </div>
        </div>

    </section>
        <div id = "full_container1">

            <section class = "grid_container">
            <div>
                    <div>
                        <h2>See work in a whole new way</h2>
                        <p>View your team’s projects from every angle and bring a fresh perspective to the task at hand.</p>
                        <a href="#">Discover all Use Cases</a>
                    </div>
                    <div class ="flex_container">
                        <div><img src = "https://images.ctfassets.net/rz1oowkt5gyp/5Hb09iiMrK6mSpThW5HS89/f5683a167ad3f74bed4dc7592ae5a002/TrelloBoard_Timeline_2x.png?w=1140&fm=webp" width="555" height="300"></div>
                        <div class="left_align">
                            <div class = "flex_container">
                                <svg width="24" height="24" fill="currentColor" aria-hidden="true" viewBox="0 0 32 32"><path d="M6 5.333h9.333a3.333 3.333 0 0 1 0 6.667H6a3.333 3.333 0 0 1 0-6.667Zm9.333 4a.667.667 0 0 0 0-1.333H6a.667.667 0 0 0 0 1.333h9.333Zm-6.666 4H18A3.333 3.333 0 1 1 18 20H8.667a3.333 3.333 0 0 1 0-6.667Zm9.333 4A.667.667 0 0 0 18 16H8.667a.667.667 0 0 0 0 1.333H18Zm6.667 4h-9.334a3.333 3.333 0 1 0 0 6.667h9.334a3.333 3.333 0 0 0 0-6.667Zm-9.334 4a.667.667 0 0 1 0-1.333h9.334a.667.667 0 1 1 0 1.333h-9.334Zm8-20H26A3.333 3.333 0 1 1 26 12h-2.667a3.333 3.333 0 1 1 0-6.667Zm2.667 4A.667.667 0 1 0 26 8h-2.667a.667.667 0 1 0 0 1.333H26Z"></path></svg>
                                <h3>Hit deadlines every time</h3>
                            </div>
                            <p>From weekly sprints to annual planning, Timeline view keeps all tasks on track. Quickly get a
                                glimpse of what’s coming down the pipeline and identify any gaps that might impede your team’s progress.</p>
                            <p><a href="#">Learn more about Timeline view</a></p>
                        </div>
                    </div>
                    <div style="height: 70px"></div>
                    <div class = "flex_container">
                        <div>
                            <div class = "flex_container">
                                <svg width ="24" height="24" fill="currentColor" aria-hidden="true" viewBox="0 0 32 32"><path d="M6.66 6.667h18.68A2.66 2.66 0 0 1 28 9.325v16.016A2.659 2.659 0 0 1 25.34 28H6.66A2.66 2.66 0 0 1 4 25.341V9.325a2.659 2.659 0 0 1 2.66-2.658ZM6.667 12v12A1.333 1.333 0 0 0 8 25.333h16A1.333 1.333 0 0 0 25.333 24V12H6.667ZM8 5.333a1.333 1.333 0 0 1 2.667 0v1.334H8V5.333Zm13.333 0a1.333 1.333 0 0 1 2.667 0v1.334h-2.667V5.333Zm-12 12v-2.668H12v2.668H9.333Zm10.667 0v-2.668h2.667v2.668H20Zm-5.333 0v-2.668h2.668v2.668h-2.668Zm-5.334 5.334V20H12v2.667H9.333Zm5.334 0V20h2.668v2.667h-2.668Zm5.333 0V20h2.667v2.667H20Z"></path></svg>
                                <h3>STAY ON TOP OF TASKS</h3>
                            </div>
                            <p>Start each day without any surprises. Whether scheduling an editorial calendar or staying on top of to-dos,
                                Calendar view is like a crystal ball giving you a clear vision of what work lies ahead.</p>
                            <p><a href="#">Learn more about Calendar view</a></p>
                        </div>
                        <div><img src = "https://images.ctfassets.net/rz1oowkt5gyp/7sxChS4x6XAcUgDpp4VAZk/25377d162e964f4243e329c447bfd7dc/TrelloBoard_Calendar_2x.png?w=1140&fm=webp" width="555" height="300"></div>
                    </div>
                </div>
            </section>
        </div>

    <div class = "grid_container">
        <div class="left_align">
            <p>POWERFUL WAYS TO GROW</p>
            <h2>Do more with Trello</h2>
            <p>Trello’s intuitive features give any team the ability to quickly set up and customize workflows for just about anything.</p>
        </div>
    </div>
    <section class = "grid_container">
        <div class = "flex_container">
            <div class = "left_align">
                <img src="https://images.ctfassets.net/rz1oowkt5gyp/gMfkjoA3yWYG3kat3qjpW/3902bfdfccf08869e33d63bbc9d1969b/Integrations_Puzzle.svg" alt="">
                <h3>Integrations</h3>
                <p>Connect the apps your team already uses into your Trello workflow or add a Power-Up to fine-tune your specific needs.</p>
                <div><a>Browse Integrations</a></div>
            </div>
            <div class = "left_align">
                <img src="https://images.ctfassets.net/rz1oowkt5gyp/7wxRW93hvb7858bMsK4LSs/f6fc44fb23dbc6ee9bc6a7f6e2af0fb7/Gears.svg" alt="">
                <h3>Butler Automation</h3>
                <p>No-code automation is built into every Trello board. Focus on the work that matters most and let the robots do the rest.</p>
                <div><a>Get to know Automation</a></div>
            </div>
            <div class = "left_align">
                <img src="https://images.ctfassets.net/rz1oowkt5gyp/mNa3Mi7T6ga2OTrNxJx1D/8991b8d57cd6ec7330398c7a8757b4dc/Search_Value.svg" alt="">
                <h3>Trello Enterprise</h3>
                <p>The productivity tool teams love, paired with the features and security needed for scale.</p>
                <div><a>Explore Enterprise</a></div>
            </div>
        </div>
    </section>
    <section class = "grid_container">

        <div style="position: relative">
            <!-- If we need navigation buttons -->
            <div class="flex_container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>



            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>

        </div>

    </section>
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });

    </script>
    </div>
</div>




</html>