<!DOCTYPE html>

<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <div style="background-color:#1d2125; z-index:99;">
        <div id = "header-container">
        <div id = "logo-container">
            <button class = "header-menu-btn">
                <img th:src="@{/images/icons/menu.png}" class="header-menu-img" />
            </button>
            </div>
        <a th:href="@{/home}">
            <div class = "header-home-btn">
                <img th:src="@{/images/icons/TrelloLogo.png}" class="header-home-img"/>
            </div>
        </a>
        <div class = "header-left-container">
            <div class="header-flexible-btn-container">
                <button class = "header-flexible-btn">Workspace<img th:src="@{/images/icons/down-arrow.png}" class="header-under-arrow"/></button>
                <button class = "header-flexible-btn">Recent<img th:src="@{/images/icons/down-arrow.png}" class="header-under-arrow"/></button>
                <button class = "header-flexible-btn">Starred<img th:src="@{/images/icons/down-arrow.png}" class="header-under-arrow"/></button>
                <button class = "header-flexible-btn">Templates<img th:src="@{/images/icons/down-arrow.png}" class="header-under-arrow"/></button>
            </div>
            <button onclick="dp_create()" class = "header-create-btn"> Create </button>
            <div class = "header-dropdown-container" id="drop-header-create" style="display : none;">
                <ul>
                    <li>
                        <button class="header-dropdown-btn">
                            <span class="header-dropdown-icon"><img class="header-dropdown-png"th:src="@{/images/icons/trello.png}" alt="create-board-icon"/> </span>
                            <span>Create board</span>
                            <p class="header-dropdown-text">
                                A board is made up of cards ordered on lists. Use it to manage projects, track information, or organize anything.
                            </p>
                        </button>
                    </li>
                    <li>
                        <button class="header-dropdown-btn">
                            <span class="header-dropdown-icon"><img class="header-dropdown-png"th:src="@{/images/icons/template.png}" alt="create-board-icon"/> </span>
                            <span>Start with a template</span>
                            <p class="header-dropdown-text">
                                Get started faster with a board template.
                            </p>
                        </button>
                    </li>
                    <li>
                        <button class="header-dropdown-btn">
                            <span class="header-dropdown-icon"><img class="header-dropdown-png"th:src="@{/images/icons/team.png}" alt="create-board-icon"/> </span>
                            <span>Create Workspace</span>
                            <p class="header-dropdown-text">
                                A Workspace is a group of boards and people. Use it to organize your company, side hustle, family, or friends.
                            </p>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-flex-box"></div>
        <div class="header-right-container">
            <div class="header-search-bar">
                <img th:src="@{/images/icons/search.png}" style = "height: 16px; width: 16px; margin : 0 5px ;"/>
                <input type="text" class="header-text-input" placeholder="Search">
            </div>
            <button class = "header-bell-btn">
                <img th:src="@{/images/icons/bell.png}" style = "height: 24px; width: 24px;"/>
            </button>
            <button class = "header-user-btn" onclick="dp_profile()">
                <img th:src="@{/images/icons/user.png}" style = "height: 24px; width: 24px;"/>
            </button>
            <div id="header-user-profile-dropdown" style="display : none;">
                <div class="header-profile-account">
                    <h2>ACCOUNT</h2>
                </div>
                <div class="header-profile-info">
                    <div class="header-profile-image">
                        <div class="header-profile-img-wrapper">
                            <span role="img"  class="header-profile-img-file" style="background-image: url(&quot;https://trello-members.s3.amazonaws.com/63a5e31d54a92b001ce22969/3890b8dc6632d7a3fe678459da067003/170.png&quot;); height: 40px; width: 40px; line-height: 40px;"></span>
                        </div>
                    </div>
                    <div style="min-width:0 ;">
                        <div style="margin-top: 2px;" th:text="${#authentication.principal.getAttribute('nickname')}"></div>
                        <div class="header-profile-mail" th:text="${#authentication.principal.getAttribute('email')}" ></div>
                    </div>
                </div>
                <div class="header-profile-line"></div>
                <div>
                    <a th:href="@{/user/logout}">
                        <button class="header-profile-logout-btn">
                            Log out
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
        <div>

        </div>
    </div>
    <script>
        function dp_create() {
            let click = document.getElementById("drop-header-create")
            if(click.style.display === "none") {
                click.style.display = "block";
            }else{
                click.style.display = "none";
            }
        }
        function dp_profile() {
            let click = document.getElementById("header-user-profile-dropdown");
            if(click.style.display === "none") {
                click.style.display = "block";
            }else{
                click.style.display = "none";
            }
        }
    </script>

</div>

</html>
