<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trelloweb.signup.mapper.SignupMapper">

    <select id = "checkToken" resultType="int" parameterType="map">
        select count(*)
        from signuptoken
        where token = #{token}
    </select>

    <!--<insert id = "insertToken" parameterType="com.example.trelloweb.signup.vo.Signuptoken">
        insert
        into signuptoken
        values (#{token} , #{email}, sysdate + 1/24 *0.5, 'no')
    </insert>-->
</mapper>