@charset "UTF-8";
* {
    margin : 0;
    padding : 0;
    color-scheme : dark;
    list-style :none;
    line-height : 20px;
}
a {
    text-decoration-line: none;
    color : #b6c2cf;
}
p {
    margin: 0 0 8px;
}
ul {
    padding : 0;
}
#content-wrapper {
    background-color : #1D2125;
    padding-top : 48px;
    width : 100%;
    min-height : calc(100vh - 48px);
    line-height : 20px;
    font-size : 14px;
    font-weight : 400;
}
.home-container {
    align-items : flex-start;
    display : flex;
    flex-direction : row;
    justify-content : center;
}
#home-left-side-container {
    margin : 40px 0 0;
    max-height : 90vh;
    padding : 0 16px;
    position : sticky;
    top : 40px;
    width : 288px;
    overflow-y : auto;
}
#home-sidebar-btn-container {
    border-bottom : 1px solid #a6c5e229;
    margin : 0;
    padding : 0;
    color : #b6c2cf;
}
#home-sidebar-btn-container li {
    margin-bottom : 4px;
    display : list-item;
    font-weight : 600;

}
.home-sidebar-btn {
    line-height: 20px;
    align-items : center;
    border-radius : 8px;
    box-shadow : none;
    display : flex;
    gap : 8px;
    margin : 0;
    min-height : 20px;
    overflow : hidden;
    padding: 8px;
    text-decoration : none;
    transition-duration : 85ms;
}
.home-sidebar-btn:hover {
    background-color : #a6c5e229;
    color : #8c9bab;
    cursor : pointer;

}
.home-active-btn {
    background-color: #1c2b41;
    color: #579dff;
}
#home-sidebar-btn-container img {
    height : 12px;
    width : 12px;
    margin : 4px;
    text-align : center;
    display : block;
}
#home-workspace-tab a #header-under-arrow {
    height : 16px;
    width : 20px;
    margin : 0 8px 0 0;
}
#home-workspace-container {
    padding-top: 12px;
    padding-bottom: 40px;
}
#home-workspace-title {
    color: #9fadbc;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    flex: 1 1 auto;
    padding: 8px 0;
    margin: 0 0 0 12px;
}
#home-workspace-box span{
    flex: 1 1 auto;
    width: min-content;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b6c2cf;
    font-weight: 500;
}
#home-workspace-box {
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    display: flex;
    font-weight: 500;
    gap: 8px;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 6px 8px;
    color : #8c9bab;
}
#home-workspace-box:hover {
    background-color : #a6c5e229;
    cursor : pointer;
}
.ws-btn-container {
    margin-bottom : 4px;
}
.ws-btn-group {
    margin-top: 4px;
    min-height: 24px;
    padding: 4px 8px 4px 40px;
    font-weight: 400;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    color : #9fadbc;
    display: flex;
    gap : 8px;
}
.ws-btn-group:hover {
    background-color : #a6c5e229;
    cursor : pointer;
    color : #9fadbc;
}
.ws-btn-icon {
    width : 12px;
    height : 12px;
}
.ws-main-img {
    width : 24px;
    height : 24px;
}
#ws-btn-ul {
    display : none;
}
#ws-btn-ul.menuon {
    display : block;
}
#home-board-wrapper {
    margin: 40px 16px 0;
    max-width: 825px;
    min-width: 288px;
    width: 100%;
}
.board-section-box {
    padding : 0 0 20px;
    max-width: 1266px;
}
.template-sidebar-btn-items {
    margin-top: 4px;
    padding : 6px 8px 6px 40px;
    font-weight : 400!important;
}
.home-sidebar-btn-link {
}
