<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<div layout:fragment="content" style="height: 100%; background-color: #1c2b41">
    <link rel="stylesheet" th:href="@{/css/profile/profile.css}">
    <div class ="profileWrapper">
            <h3>Public profile</h3>
            <hr>
            <div style="display: flex">
                <div style="width: 66.6666%;" class = "editProfileLeft">
                    <label>ID</label>
                    <input class = "mandatory alphabetOnly" type = "text" id = "ID" disabled>
                    <br>
                    <label style="display: inline">Password</label><button class = "changeButton" id = "changePassword">Change password</button>
                    <input class = "mandatory alphabetOnly" type = "password" id = "password" disabled>
                    <br>
                    <label style="display: inline">Email</label><button class = "changeButton" style="margin-left: 37px;">Change Email</button>
                    <br>
                    <input class = "mandatory alphabetOnly" type = "text" id = "email" disabled>
                    <label>First Name</label>
                    <input class = "mandatory alphabetOnly" type = "text" id = "lastName" disabled>
                    <label>Nick Name</label>
                    <label>BIO</label>
                    <textarea id = "bio" style="width: 440px;" maxlength="200" disabled></textarea>
                    <label>Social accounts</label>
                    <span data-targets="social-account-editor.iconOptions" data-target="social-account-editor.iconGeneric" data-provider-key="generic">
                        <svg title="Social account" aria-label="Social account" role="img" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-link">
                            <path style="fill: #bac0cd" d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path>
                        </svg>
                    </span>
                    <input type = "text" class="social" id = "social1" placeholder="Link to social profile" disabled value="hi"><br>
                    <span data-targets="social-account-editor.iconOptions" data-target="social-account-editor.iconGeneric" data-provider-key="generic">
                        <svg title="Social account" aria-label="Social account" role="img" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-link">
                            <path style="fill: #bac0cd" d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path>
                        </svg>
                    </span>
                    <input type = "text" class="social" id = "social2" placeholder="Link to social profile" disabled><br>
                    <span data-targets="social-account-editor.iconOptions" data-target="social-account-editor.iconGeneric" data-provider-key="generic">
                        <svg title="Social account" aria-label="Social account" role="img" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-link">
                            <path style="fill: #bac0cd" d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path>
                        </svg>
                    </span>
                    <input type = "text" class="social" id = "social3" placeholder="Link to social profile" disabled><br>
                    <span data-targets="social-account-editor.iconOptions" data-target="social-account-editor.iconGeneric" data-provider-key="generic">
                        <svg title="Social account" aria-label="Social account" role="img" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-link">
                            <path style="fill: #bac0cd" d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path>
                        </svg>
                    </span>
                    <input type = "text" class="social" id = "social4" placeholder="Link to social profile" disabled><br>
                </div>
                <div style="width: 33.3333%">
                    <label>Profile picture</label><br>
                    <img id = "profileImage" th:src="@{/images/profile/user.png}" style="margin-top: 1rem; width: 10rem; height: 10rem;">
                </div>

            </div>
            <br>
            <a class="change" th:href="@{/user/editProfile}">
                Update my profile
            </a>
        <br>
    </div>
    <div id="modalContainer">
        <div id="modalContent" onclick="event.stopPropagation()">
            <div>
                <div>
                    <div style="padding: 6px 0 6px 8px; width: 400px;">
                        <h1 style="font-size: 0.875rem; font-weight: bold">Really change your username?</h1>
                    </div>
                    <div>
                        <button id = "modalClose"><svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                            <path d="M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z"></path>
                        </svg></button>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <svg style="margin-right: 15px;" aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" fill="rgb(209, 36, 47)">
                        <path d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path>
                    </svg>
                    Unexpected bad things will happen if you don’t read this!
                </div>
                <ul id = "warnings">
                    <li>We <strong>will not</strong> set up redirects for your old profile page.</li>
                    <li>We <strong>will not</strong> set up redirects for Pages sites.</li>
                    <li>We <strong>will</strong> create redirects for your repositories (web and git access).</li>
                    <li>Renaming may take a few minutes to complete.</li>
                </ul>
            </div>
            <div id = "warningButtonBox">
                <button style="width: 100%; height: 100%" id = "proceedToChange">I understand, let's change my password</button>
            </div>
        </div>
    </div>
    <div id = "modalContainer2">
        <div id = "modalContent2" onclick="event.stopPropagation()">
            <div id = "modalTitle">
                <h3>Enter a new username</h3>
                <button id = "modal2Close"><svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-x">
                    <path d="M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z"></path>
                </svg></button>
            </div>
            <div id = "modalDetail">
                <form>
                    <input type = "password">
                    <p>
                        Choose a new password
                    </p>
                    <button>Change my password</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/profile/profile.js}">
    </script>
</div>
</html>