@charset "UTF-8";
* {
    margin : 0;
    padding : 0;
    color-scheme : dark;
    list-style :none;
    line-height : 20px;
}
a {
    text-decoration-line: none;
    color : #9fadbc;
}
ul {
    padding : 0;
}
#content-wrapper {
    background-color : #1D2125;
    padding-top : 48px;
    display : flex;
    flex-direction : column;
    flex : 1 1 0;
    overflow-y : auto;
    width : 100%;
    line-height : 20px;
    font-size : 14px;
    font-weight : 400;
}
.home-container {
    min-height : calc(100vh - 40px);
    align-items : flex-start;
    display : flex;
    flex-direction : row;
    justify-content : center;
}
#home-left-side-container {
    margin : 40px 0 0;
    max-height : 90vh;
    padding : 0 16px;
    position : sticky;
    top : 40px;
    width : 288px;
}
#home-sidebar-btn-container {
    border-bottom : 1px solid #a6c5e229;
    margin : 0;
    padding : 0;

}
#home-sidebar-btn-container li {
    margin-bottom : 4px;
    display : list-item;
}
.home-sidebar-btn {
    align-items : center;
    border-radius : 8px;
    box-shadow : none;
    display : flex;
    gap : 8px;
    margin : 0;
    min-height : 20px;
    overflow : hidden;
    padding : 6px 8px;
    text-decoration : none;
    transition-duration : 85ms;
    color : #8c9bab;
}
.home-sidebar-btn:hover {
    background-color : #a6c5e229;
    color : #8c9bab;
    cursor : pointer;

}

#home-sidebar-btn-container img {
    height : 16px;
    width : 16px;
    text-align : center;
    display : block;
}

#home-workspace-container {
    padding : 12px 0 40px 0;
}
#home-workspace-title {
    color : #9fadbc;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    align-items: baseline;
    display: flex;
    height: 32px;
    justify-content: flex-start;
    margin-bottom: 8px;
    padding: 8px 0 8px 12px;
}
.home-workspace-btn>img{
    height : 24px;
    width : 24px;
}
#home-workspace-tab a #header-under-arrow {
    height : 16px;
    width : 20px;
    margin : 0 8px 0 0;
}
#home-workspace-box span{
    flex: 1 1 auto;
    width: min-content;
    overflow: hidden;
    text-overflow: ellipsis;
}
#home-workspace-box {
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    display: flex;
    font-weight: 500;
    gap: 8px;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 6px 8px;
    color : #8c9bab;
}
#home-workspace-box:hover {
    background-color : #a6c5e229;
    cursor : pointer;
}
.ws-btn-container {
    margin-bottom : 4px;
}
.ws-btn-group {
    margin-top: 4px;
    min-height: 24px;
    padding: 4px 8px 4px 40px;
    font-weight: 400;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: none;
    color : #9fadbc;
    display: flex;
    gap : 8px;
}
.ws-btn-group:hover {
    background-color : #a6c5e229;
    cursor : pointer;
    color : #9fadbc;
}
.ws-btn-icon {
    width : 12px;
    height : 12px;
}
.ws-main-img {
    width : 24px;
    height : 24px;
}
#ws-btn-ul {
    display : none;
}
#ws-btn-ul.menuon {
    display : block;
}

/* board section */
#home-board-wrapper {
    margin: 40px 16px 0;
    max-width: 825px;
    min-width: 288px;
    width: 100%;
}
.board-section-box {
    padding : 0 0 20px;
    max-width: 1266px;
}
.board-section-header {
    display: flex;
    margin: 0 0 0 40px;
    padding: 0 0 11px;
    position: relative;
}
.board-section-header-icon {
    height : 22px;
    width : 22px;
}
.board-icon-container {
    height : 32px;
    width : 32px;
    left: -40px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.board-section-header-name {
    display: inline-block;
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 3px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color : #9fadbc;
}
.board-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom : 0;
}
.board-section-list-item {
    margin: 0 2% 2% 0;
    padding: 0;
    transform: translate(0);
    width: 23.5%;
}
.board-section-item-img {
    background-image: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x365/0c34d811eabe0f3e955b05f79e9517a6/photo-1696384036025-c7d7b7f6584d.jpg);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    line-height: 20px;
    padding: 8px;
    position: relative;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    filter: brightness(1);
    transition: 0.3s;
}
.board-section-item-img:hover {
    color : #fff;
    filter: brightness(0.6);
}

.ex-margin1 {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.board-detail-box {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
    position: relative;
}
.board-detail-name {
    word-wrap: break-word;
    display: inline-block;
    flex: 0 0 auto;
    font-size: 16px;
    font-weight: 700;
    max-height: 40px;
    overflow: hidden;
    width: 100%;
}
.board-detail-ws {
    align-items: baseline;
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
}
.board-detail-ws>span {
    color: #fff;
    display: block;
    flex: 1 1 auto;
    letter-spacing: .02em;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.board-starred-icon {
    height : 12px;
    width : 12px;
    margin : 0 6px;
}
