.sidebar-container{
    height: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    transition: background-color 600ms;
}
.sidebar-logo{
    display: flex;
    align-items: center;
    padding: 8px 12px 8px;
    width: 260px;
    min-height: 40px;
    border-bottom: 1px solid #BDBDBD
}