.workspace-setting-options-sec{
    display: none;
    position: fixed;
    z-index: 9;
    inset: 215px auto auto 234px;
    width: 304px;
    border-radius: 8px;
    color: rgb(182,194,207);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background-color: #282e33;
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
}
.workspace-setting-options {
    border: none;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    display: block;
    height: 100%;
    padding: 6px 12px;
    text-align: left;
    text-decoration: none;
    width: 100%;
    outline: 0;
    color: rgb(182,194,207);
}
.workspace-setting-options:hover{
    color: rgb(182,194,207);
    cursor: pointer;
}

.workspace-setting-options-container li:hover{
    background-color: rgba(159,173,188,30%);
}
.board-style-section{
    position: fixed;
    display: none;
    inset: 100px auto auto 576px;
    width: 304px;
    background-color: #282e33;
    border-radius: 8px;
    flex-direction: column;
}
.board-style-section header{
    padding: 4px 8px;
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.board-style-section header h2{
    color: #9fadbc;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.003em;
    line-height: 40px;
    display: block;
    height: 40px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.style-sec-close-btn{
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    justify-self: end;
    position: absolute;
    right: 10px;
}
.style-sec-close-btn:hover{
    border-radius: 5px;
    background-color: rgba(159,173,188,30%);
}
.board-style-list{
    color: white;
    list-style: none;
}