html, body{
    height: 100%;
}
.content{
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}
.boardsidebar{
    width: 260px;
    box-shadow: 1px 0px 0px 0px transparent;
    z-index: 5;
    height: 100%;
    min-height: 100%;
}
.content-container{
    display: flex;
    overflow-x: visible;
    min-width: 100%;
    height: calc(100% - 57px);
    min-height: calc(100% - 57px);
}
.content-header-container{
    height:fit-content;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
    align-items: center;
    padding: 12px 10px 12px 16px;
    border-bottom: 1px solid #848ea0;
}
.content-header-title{
    display: flex;
    height: 32px;
    color: white;
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 5px;
}
.icon-container{
    display: flex;
    line-height: 1;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
.board-nonstar-icon{
    top: 1px;
    right: 2px;
}
.board-star-icon{
    top: 1px;
    right: 2px;
}
.content-header-nonstar-icon{
    margin-left: 6px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.content-header-nonstar-icon:hover{
    background-color: rgba(159,173,188,30%);
    border-radius: 3px;
}
.content-header-permission-icon{
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content-header-permission-icon:hover{
    background-color: rgba(159,173,188,30%);
    border-radius: 3px;
}
.content-header-permission-text{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 8px;
}
.content-header-board-style-icon{
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    background-color: lightgray;
}
.content-header-board-style-text{
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin-left: 9px;
    margin-right: 8px;
}
.content-header-board-style-icon:hover{
    cursor: pointer;
    background-color: #EEEEEE;
}
.list-container{
    height: 100%;
    min-height: 100%;
    padding: 12px 12px 0;
    display: flex;
    background-color: #1c2b41;
}
.list-adding-parts-container{
    height: 100%;
    min-height: 100%;
    padding: 12px 12px 0;
    display: flex;
    background-color: #1c2b41;

}
.list-add-btn{
    display: flex;
    margin: 0 6px;
    background-color: #FFFFFF3d;
    border: none;
    border-radius: 12px;
    padding: 12px;
    height: 44px;
    width: 272px;
    flex-direction: row;
    align-items: center;
    color: white;
}
.list-add-btn:hover{
    cursor: pointer;
    background-color: #FFFFFF1d;
}

.list-add-container {
    padding: 0 6px;
    display: none;
    flex-shrink: 0;
    align-self : flex-start;
    height: 88px;
}
.list-add-container-form {
    background-color : #101204;
    border-radius : 12px;
    padding : 8px;
    width: 272px;
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    box-sizing: border-box;
}
.list-textarea {
    font-size: 14px;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    color: #b6c2cf;
    max-height: 256px;
    min-height: 20px;
    overflow : hidden;
    overflow-wrap: break-word;
    padding: 6px 12px;
    resize: none;
    width: 100%;
    border-color : transparent;
}
.list-textarea:focus {
    outline : none;
    border : 2px solid #579dff !important;
}
.list-textarea::placeholder {
    color : #b6c2cf;
}
.list-textarea:hover {
    background-color: #282e33;
    border-color: #3d474f;
}
.add-list-confirm-button {
    background-color: #579dff;
    border : none;
    line-height: 20px;
    font-size: 14px;
    align-items: center;
    display: inline-flex;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 500;
    color: black;
}

.list-close-button {
    padding: 6px;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

.list-close-button:hover {
    background-color: #282f27 !important;
}

.list {
    padding: 0 6px;
    align-self: flex-start;
    flex-shrink: 0;
    display: block;
    height: 100%;
    white-space: nowrap;
}

.list-detail {
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    flex-direction: column;
    padding-bottom: 8px;
    position: relative;
    scroll-margin: 8px;
    white-space: normal;
    width: 272px;
    box-sizing: border-box;
    vertical-align: top;
    background-color: #101204;
    color: #9fadbc;
    border-radius: 12px;

}

.list-header {
    display: flex;
    column-gap: 4px;
    row-gap: 0;
    padding: 8px 8px 0;
    position: relative;
    flex-grow: 0;
    flex-basis: 0;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: visible;
}
.list-action-button {
    padding: 4px 8px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
}

.list-action-button:hover {
    background-color: #282f27 !important;
}
.list-add-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 0;
}
.list-add-card-button {
    background-color: transparent;
    border-radius: 8px;
    color : #9fadbc;
    border: none;
    padding: 6px 12px 6px 8px;
    text-decoration: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    margin : 0;
}
.list-add-card-button:hover {
    background-color: #282f27 !important;
}

.list-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 4px;
    padding: 2px 4px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    list-style: none;
}
.list-card-title {
    border-radius: 8px;
    border : none;
    padding: 8px 12px;
    resize: none;
    width: 100%;
}
.list-card-title:focus {
    outline: none;
}

.add-card-section {

}

/*.board*/

/* card modal 부분 */
.card-background {
    display: none;
    overflow-x: hidden;
    align-items: flex-start;
    background-color: #000000a3;
    height: 100%;
    justify-content: center;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}
.card-container {
    display: block;
    overflow: visible;
    background-color: #282e33;
    border-radius: 12px;
    margin: 48px 0 80px;
    position: relative;
    width: 768px;
    z-index: 25;
}
.card-detail-window {
    background-color: #091e420f;
    border-radius: 8px;
    min-height: 600px;
    color: #b6c2cf;
}
.card-detail-window a {
    color: #b6c2cf;
    text-decoration: underline;
}
.card-detail-window a:hover {
    color: #b6c2cf;
}
.card-detail-header {
    min-height: 32px;
    padding: 8px 52px 8px 56px;
    position: relative;
    z-index: 1;
}
.card-detail-header > textarea {
    overflow: hidden;
    overflow-wrap: break-word;
    height: 37px;
    background: #0000;
    border-radius: 4px;
    box-shadow: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 6px -10px -6px;
    min-height: 24px;
    padding: 6px 10px;
    resize: none;
    width: 100%;
    border: none;
}